.bucket {
 padding: 0px; 
 margin-bottom: 1px;
 border-right-width: 0px;
 margin-bottom: 0px;
 padding-right: 0px !important;
}

.bucket-bg {
	 background-size: cover; 
	 height:100%; 
	 width:100%; 
   padding-right: 0px;
}

.bucket-name {
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 14px;
  padding: 0px 5px;
}

.bucket-tag-container {
  margin: 0 0 5px 5px !important;
}

.bucket-tag {
  line-height: 18px; 
  min-height: 0px; 
  margin-bottom: 3px;
  background-color: white !important;
  opacity: 0.7 !important;
}

.bucket-caption {
  color: black;
  background-color: white;
  opacity: 0.6;
  font-size: 14px;
  padding: 5px;
  margin: 0px;
  white-space: normal !important;
}

.no-padding {
  padding: 0px;
}