!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "format-detection", content: "telephone=no"}
    %meta{name: "viewport", content: "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"}
    %link{rel: "stylesheet", type: "text/css", href: "css/ionic.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/inputosaurus.css"}
    %title Уonder!


  %body{"ng-app" => "scupr"}
    .bar.bar-header
      %button.button.button-icon.icon.ion-ios7-plus-empty{onclick: "getBusinessForm();"}       
      %h1.title{}><
        %span.badge.badge-assertive{onclick: "getBucketWithGPS();"}
          Уonder
          %i{style:"font-family: georgia; font-style: italic; font-size: 110%;"}>< !
      %button.button.button-icon.icon.ion-ios7-refresh-empty{onclick: "getBucketWithGPS();"} 
    %ion-content#bucket{"has-header" => "true", "overflow-scroll" => "true", style: "width: 100%; height: 100%+10px;"}
  
    %script{type: "text/javascript", src: "cordova.js"}
    %script{type: "text/javascript", src: "js/jquery.js"}
    %script{type: "text/javascript", src: "js/jquery-ui.js"}
    %script{type: "text/javascript", src: "js/handlebars.js"}
    %script{type: "text/javascript", src: "js/ionic.bundle.js"}
    %script{type: "text/javascript", src: "js/inputosaurus.js"}

    %script{id: 'bucket-template', type: 'text/x-handlebars-template'}     
      .list
        {{#each ads}}
        {{createBucket this}}
        {{#each this.tags}}
        {{createTag this}}
        {{/each}}
        {{closeItem}}
        {{/each}}

    %script{id: 'ad-template', type: 'text/x-handlebars-template'}     
      .list.card
        .item
          %h2 {{ad.business_name}} &middot {{ad.distance}}m
        .item.item-text-wrap
          %p {{ad.caption}}
        .item.item-image
          %img.full-mage{src: "{{ad.image}}"}
        .item.tabs.tabs-secondary.tabs-icon-left
          %a.tab-item{href: "tel: {{ad.business_phone}}"}
            %i.icon.ion-ios7-telephone-outline
            Call
          %a.tab-item{href: "#", onclick: "getPassbook();"}
            %i.icon.ion-ios7-pricetag-outline
            Loyalty Card
          %a.tab-item{href: "#", onclick: "shareAdSocially();"}
            %i.icon.ion-ios7-paperplane-outline
            Share
        %a.item.item-icon-left.assertive.item-icon-right{href:'#', onclick: "getMapWithGPS();", "data-lng" => "{{ad.business_GPS.lng}}", "data-lat" => "{{ad.business_GPS.lat}}"}
          %i.icon.ion-ios7-navigate-outline
          Get directions  
          %i.icon.ion-ios7-arrow-down
      %span#placeholder
      %button.button.button-block.button-clear.button-stable.button-small{href:'#', onclick: ""} Are you the business owner?


    %script{id: 'form-template', type: 'text/x-handlebars-template'}
      %form{id: 'new-business'}
        .list
          .item.item-divider
            Business details
          %label.item.item-input
            %span.input-label
              Company
            %input{type: "text", name: "business-name", value: "{{business.name}}", required: true}
          %label.item.item-input
            %span.input-label
              Telephone
            %input{type: "number", name: "business-phone", value: "{{business.phone}}"}
          %label.item.item-input-inset
            %span.input-label{style: "-webkit-flex: 0 0 100px;"}
              Reach (m)
            %item.item-input-wrapper
              %input{type: "text", name: "business-radius", readonly: true, value: "{{business.radius}}"}
            %button.button.button-small.button-outline.button-positive{id: "stripe", onclick: "getStripeForm();"}  
              Double
          .item.item-divider Current location 
          .item 
            %p Recorded and assigned to business 
          %a.item.item-icon-left.positive.item-icon-right{href:'#', onclick: "getBusinessMapWithGPS();", "data-lng" => "{{business.lng}}", "data-lat" => "{{business.lat}}"}
            %i.icon.ion-ios7-navigate-outline
            Correct location  
            %i.icon.ion-ios7-arrow-down 
          %span#placeholder
          .item.item-divider Current ad details
          %label.item.item-thumbnail-left
            %img{src: "{{business.ad.bucket_image}}"}
            %h2 {{business.name}}
            %p {{business.ad.caption}}
          .item.item-divider
            New ad
          %label.item.item-input
            %span.input-label
              Caption
            %input{type: "text", name: "ad-caption", value: "{{business.ad.caption}}", required: true}
          %label.item.item-input
            %span.input-label
              Tags
            %input{type: "text", id: "ad_tags", name: "ad-tags", value: "{{business.ad.tags}}"}
          %input{type: "hidden", name: "business-id", value: "{{business.id}}"}  
          %input{type: "hidden", id: "business-lat", name: "business-lat", readonly: false, value: "{{business.lat}}"}
          %input{type: "hidden", id: "business-lng", name: "business-lng", readonly: false, value: "{{business.lng}}"}
          .padding  
            %button.button.button-block.icon-right.ion-ios7-arrow-right.button-outline.button-positive{id: "submit-new", onclick: "selectPhoto();"}
              Select Image and Submit              
      .padding 
        %button.button.button-block.icon-right.ion-ios7-arrow-right.button-outline.button-assertive{id: "log-out", onclick: "killMeNow();"}
          Log out 


    %script{id: 'stripe-template', type: 'text/x-handlebars-template'}
      %form{id: 'stripe-form', action: "", method: "POST"}
        .list
          %label.item.item-input  
            %input{type: "number", maxlength: "20", autocomplete: "off", placeholder: "Card number", "data-stripe" => "number"}
          %label.item.item-input
            %input{type: "number", maxlength: "4", autocomplete: "off", placeholder: "CVC", "data-stripe" => "cvc"}
          %label.item.item-input  
            %input{type: "number", maxlength: "2", autocomplete: "off", placeholder: "MM", "data-stripe" => "exp-month"}
          %label.item.item-input  
            %input{type: "number", maxlength: "4", autocomplete: "off", placeholder: "YYYY", "data-stripe" => "exp-year"}
        .padding 
          %button.button.button-block.icon-right.ion-chevron-right.button-positive{type: "submit", name: "submit-button", onclick: "handleStripe();"} 
            Pay £10
        .card
          .item.item-text-wrap.payment-errors  

    %script{type: "text/javascript", src: "js/local.js"}
    %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyA_PXRhcYPHapEnqn_xw3_6gnIne0zJMXg&sensor=true"}
    %script{type: "text/javascript", src: "js/maps_local.js"}
    %script{type: "text/javascript", src: "https://js.stripe.com/v1/"}
    %script{type: "text/javascript", src: "js/stripe_local.js"}
    %script
      document.addEventListener("deviceready", startApp, false);
    
