.ionic-contrib-blur {
  overflow: hidden;
	position:absolute;
  width: 100%;
	top:0;
	left:0;
	right:0;
	-webkit-filter:blur(20px);
	opacity:.25;
  z-index: 1;
}

.bar-frosted {
  background-color: #F7F7F7;
}
/*
.blurred-background{
-webkit-filter: blur(10px);
filter: blur(10px);
opacity: .2;
position: absolute;
top: 0;
left: 0;
right: 0;
height: inherit;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
overflow: hidden;
-webkit-flow-from: content;
flow-from: content;
}*/